bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
*.pidb
*.svd
*.pdb
*.mdb
*.dbmdl
*.cache
*.log
*.vs/
TestResults/
build/
*.ncb
*.aps
*.ilk
*.sbr
*.tlb
*.tli
*.tlh
_ReSharper*/
*.resharper
*.DotSettings.user
*.dotCover
*.orig
.vscode/
*.ide/
.idea/
*.DS_Store
